##### Домашнее задание

## Урок №6 - Множества и операции над ними

#### Работу выполнил: Зензеров Никита Евгеньевич

На основании двух таблиц вам нужно будет построить несколько когортных метрик.
+ ___User install___ — количество установок в этот день (по сути, размер когорты).
+ ___Paying Users___ — количество платящих (заплативших хотя бы раз) пользователей, установивших игру в этот день.
+ ___Revenue___ — выручка от всех пользователей, установивших игру в этот день.
+ ___ARPU (average revenue per user)___ — средний чек на пользователя. 
    + считается по формуле ARPU =  Revenue/Users Installs.
+ ___ARPPU (average revenue per paying user)___ — средний чек платящего пользователя.
    + считается как ARPPU = Revenue/Paying users.

In [1]:
# Импортируем библиотеку Pandas
import pandas as pd

# Импортируем библиотеку NumPy
import numpy as np

In [2]:
# Подгружаем данные и выводим их, чтобы понять, с чем работаем
payments = pd.read_csv('payments.csv', index_col=0)

installs = pd.read_csv('installs.csv', index_col=0)

payments

,event_timestamp,client_id,revenue,purchase_type,is_tester,is_youtuber
351,2021-01-01,4660245999561852056,853.0,pack,0,0
439,2021-01-01,4905393702707182978,277.0,hard,0,0
472,2021-01-01,613720643259957998,2151.0,pack,0,0
498,2021-01-02,5041691475431075286,1153.0,hard,0,0
516,2021-01-02,1334726919424607014,1616.0,hard,0,0
...,...,...,...,...,...,...
54660,2021-04-27,8455091682614093260,312.0,hard,0,0
54789,2021-04-28,2065676150963494089,227.0,hard,0,0
54797,2021-04-28,237060470191682003,253.0,hard,0,0
54846,2021-04-28,2082825185959655615,1043.0,pack,0,0
54938,2021-04-28,6223822725258295578,2090.0,pack,0,0

In [3]:
# Проверяем тип данных, с которыми предстоит работать
payments.dtypes

event_timestamp     object
client_id            int64
revenue            float64
purchase_type       object
is_tester            int64
is_youtuber          int64
dtype: object

In [4]:
installs

                 client_id install_date
0      4324237485864989747   2021-01-29
1      2614649573193308458   2021-01-29
2      5216305460009860018   2021-01-29
3      9005903977217811684   2021-01-29
4      8800689291083556692   2021-01-29
...                    ...          ...
28432   309458290455152256   2021-01-21
28433  4144340611081689365   2021-01-21
28434  3385466057804283325   2021-01-21
28435    39574897776864490   2021-01-21
28436  8517783237786091175   2021-01-21

[28437 rows x 2 columns]

In [5]:
installs.dtypes

client_id        int64
install_date    object
dtype: object

## User install

In [7]:
# Группируем по дате установки и количеству уникальных пользователей, тем самым формируя когорты
# Заодно для наглядности переименуем столбец
installs_cohort = installs.groupby(['install_date'], as_index=False).agg({'client_id':'nunique'}
                                                                        ).rename(columns={'client_id':'users_installs'})
installs_cohort

   install_date  users_installs
0    2021-01-01             779
1    2021-01-02             993
2    2021-01-03            1063
3    2021-01-04            1115
4    2021-01-05            1065
5    2021-01-06            1029
6    2021-01-07             998
7    2021-01-08            1051
8    2021-01-09            1029
9    2021-01-10            1095
10   2021-01-11             927
11   2021-01-12             858
12   2021-01-13             950
13   2021-01-14             875
14   2021-01-15             858
15   2021-01-16            1216
16   2021-01-17            1329
17   2021-01-18             963
18   2021-01-19             904
19   2021-01-20             872
20   2021-01-21             766
21   2021-01-22             782
22   2021-01-23            1200
23   2021-01-24            1285
24   2021-01-25             784
25   2021-01-26             658
26   2021-01-27             625
27   2021-01-28             474
28   2021-01-29             751
29   2021-01-30            1143

## Paying Users

In [8]:
# Скеливаем две таблицы по user_id, тем самым получая для каждого платящего его дату установки. 
# Затем группируем по дате установке, аггрегируем кол-во уникальный пользователей ну и "косметика" в виде ренейма
# Так же сохраняем в новую переменную для дальнейшей работы

payments_cohort = payments.merge(
    installs,
    on='client_id',
    how='inner'
).groupby(['install_date'], as_index=False).agg({'client_id':'nunique'}
                                               ).rename(columns={'client_id':'paying_users'})
payments_cohort

   install_date  paying_users
0    2021-01-01            31
1    2021-01-02            42
2    2021-01-03            49
3    2021-01-04            32
4    2021-01-05            39
5    2021-01-06            31
6    2021-01-07            46
7    2021-01-08            30
8    2021-01-09            35
9    2021-01-10            40
10   2021-01-11            28
11   2021-01-12            36
12   2021-01-13            31
13   2021-01-14            29
14   2021-01-15            26
15   2021-01-16            28
16   2021-01-17            34
17   2021-01-18            26
18   2021-01-19            28
19   2021-01-20            31
20   2021-01-21            35
21   2021-01-22            32
22   2021-01-23            30
23   2021-01-24            24
24   2021-01-25            36
25   2021-01-26            28
26   2021-01-27            23
27   2021-01-28            12
28   2021-01-29            27
29   2021-01-30            41

## Revenue

In [9]:
# Склеиваем уже полученную таблицу с количеством платящих и выручку от каждого пользователя.
# Группируем по дате, ренейм для наглядности

payments_cohort = payments.merge(
    installs,
    on='client_id',
    how='inner'
).groupby(['install_date'], as_index=False).agg({'client_id':'nunique',
                                                 'revenue':'sum'}
                                               ).rename(columns={'client_id':'paying_users'})

# payments_cohort['revenue'] = payments_cohort['revenue'].astype('int')
payments_cohort

   install_date  paying_users   revenue
0    2021-01-01            31   43235.0
1    2021-01-02            42  145236.0
2    2021-01-03            49  112920.0
3    2021-01-04            32   74144.0
4    2021-01-05            39   45698.0
5    2021-01-06            31   52275.0
6    2021-01-07            46   51869.0
7    2021-01-08            30   48225.0
8    2021-01-09            35   60553.0
9    2021-01-10            40   70181.0
10   2021-01-11            28   48880.0
11   2021-01-12            36   56907.0
12   2021-01-13            31  181506.0
13   2021-01-14            29   59162.0
14   2021-01-15            26   30960.0
15   2021-01-16            28   70061.0
16   2021-01-17            34  190519.0
17   2021-01-18            26   68886.0
18   2021-01-19            28   69011.0
19   2021-01-20            31   58201.0
20   2021-01-21            35   81997.0
21   2021-01-22            32  211475.0
22   2021-01-23            30   97504.0
23   2021-01-24            24   39117.0
24   2021-01-25            36  109634.0
25   2021-01-26            28  103330.0
26   2021-01-27            23   30700.0
27   2021-01-28            12   54755.0
28   2021-01-29            27   47281.0
29   2021-01-30            41   83658.0

## ARPU

In [10]:
# Рассчитываем ARPU, зная доход и количество установок в когорте

payments_cohort['ARPU'] = payments_cohort['revenue'] / installs_cohort['users_installs']
payments_cohort.drop(['revenue'], axis=1)

   install_date  paying_users        ARPU
0    2021-01-01            31   55.500642
1    2021-01-02            42  146.259819
2    2021-01-03            49  106.227658
3    2021-01-04            32   66.496861
4    2021-01-05            39   42.908920
5    2021-01-06            31   50.801749
6    2021-01-07            46   51.972946
7    2021-01-08            30   45.884872
8    2021-01-09            35   58.846453
9    2021-01-10            40   64.092237
10   2021-01-11            28   52.729234
11   2021-01-12            36   66.325175
12   2021-01-13            31  191.058947
13   2021-01-14            29   67.613714
14   2021-01-15            26   36.083916
15   2021-01-16            28   57.615954
16   2021-01-17            34  143.355154
17   2021-01-18            26   71.532710
18   2021-01-19            28   76.339602
19   2021-01-20            31   66.744266
20   2021-01-21            35  107.045692
21   2021-01-22            32  270.428389
22   2021-01-23            30   81.253333
23   2021-01-24            24   30.441245
24   2021-01-25            36  139.839286
25   2021-01-26            28  157.036474
26   2021-01-27            23   49.120000
27   2021-01-28            12  115.516878
28   2021-01-29            27   62.957390
29   2021-01-30            41   73.191601

## ARPPU

In [11]:
# Рассчитываем ARPPU, зная доход и количество платящих в когорте

payments_cohort['ARPPU'] = payments_cohort['revenue'] / payments_cohort['paying_users']
payments_cohort.drop(['ARPU','revenue'], axis=1)

   install_date  paying_users        ARPPU
0    2021-01-01            31  1394.677419
1    2021-01-02            42  3458.000000
2    2021-01-03            49  2304.489796
3    2021-01-04            32  2317.000000
4    2021-01-05            39  1171.743590
5    2021-01-06            31  1686.290323
6    2021-01-07            46  1127.586957
7    2021-01-08            30  1607.500000
8    2021-01-09            35  1730.085714
9    2021-01-10            40  1754.525000
10   2021-01-11            28  1745.714286
11   2021-01-12            36  1580.750000
12   2021-01-13            31  5855.032258
13   2021-01-14            29  2040.068966
14   2021-01-15            26  1190.769231
15   2021-01-16            28  2502.178571
16   2021-01-17            34  5603.500000
17   2021-01-18            26  2649.461538
18   2021-01-19            28  2464.678571
19   2021-01-20            31  1877.451613
20   2021-01-21            35  2342.771429
21   2021-01-22            32  6608.593750
22   2021-01-23            30  3250.133333
23   2021-01-24            24  1629.875000
24   2021-01-25            36  3045.388889
25   2021-01-26            28  3690.357143
26   2021-01-27            23  1334.782609
27   2021-01-28            12  4562.916667
28   2021-01-29            27  1751.148148
29   2021-01-30            41  2040.439024

# Сводная таблица

In [12]:
# В конце решил показать одну общую таблицу, чтоб бы нагляднее были видны все метрики.
# Заодно добавил метрику доля платящих для наглядности.

installs_cohort = installs_cohort.merge(
    payments_cohort,
    on='install_date',
    how='outer'
)
installs_cohort['Paying_share'] = (installs_cohort['paying_users'] / installs_cohort['users_installs'] * 100).round(2)
installs_cohort

,install_date,users_installs,paying_users,revenue,ARPU,ARPPU,Paying_share
0,2021-01-01,779,31,43235.0,55.500642,1394.677419,3.98
1,2021-01-02,993,42,145236.0,146.259819,3458.000000,4.23
2,2021-01-03,1063,49,112920.0,106.227658,2304.489796,4.61
3,2021-01-04,1115,32,74144.0,66.496861,2317.000000,2.87
4,2021-01-05,1065,39,45698.0,42.908920,1171.743590,3.66
5,2021-01-06,1029,31,52275.0,50.801749,1686.290323,3.01
6,2021-01-07,998,46,51869.0,51.972946,1127.586957,4.61
7,2021-01-08,1051,30,48225.0,45.884872,1607.500000,2.85
8,2021-01-09,1029,35,60553.0,58.846453,1730.085714,3.40
9,2021-01-10,1095,40,70181.0,64.092237,1754.525000,3.65
10,2021-01-11,927,28,48880.0,52.729234,1745.714286,3.02
11,2021-01-12,858,36,56907.0,66.325175,1580.750000,4.20
12,2021-01-13,950,31,181506.0,191.058947,5855.032258,3.26
13,2021-01-14,875,29,59162.0,67.613714,2040.068966,3.31
14,2021-01-15,858,26,30960.0,36.083916,1190.769231,3.03
15,2021-01-16,1216,28,70061.0,57.615954,2502.178571,2.30
16,2021-01-17,1329,34,190519.0,143.355154,5603.500000,2.56
17,2021-01-18,963,26,68886.0,71.532710,2649.461538,2.70
18,2021-01-19,904,28,69011.0,76.339602,2464.678571,3.10
19,2021-01-20,872,31,58201.0,66.744266,1877.451613,3.56
20,2021-01-21,766,35,81997.0,107.045692,2342.771429,4.57
21,2021-01-22,782,32,211475.0,270.428389,6608.593750,4.09
22,2021-01-23,1200,30,97504.0,81.253333,3250.133333,2.50
23,2021-01-24,1285,24,39117.0,30.441245,1629.875000,1.87
24,2021-01-25,784,36,109634.0,139.839286,3045.388889,4.59
25,2021-01-26,658,28,103330.0,157.036474,3690.357143,4.26
26,2021-01-27,625,23,30700.0,49.120000,1334.782609,3.68
27,2021-01-28,474,12,54755.0,115.516878,4562.916667,2.53
28,2021-01-29,751,27,47281.0,62.957390,1751.148148,3.60
29,2021-01-30,1143,41,83658.0,73.191601,2040.439024,3.59